body {
  background-image:url(assets/img/p1bk.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#z
{
  color: #FFFFFF;
}
p
{
  color: #FFFFFF;
}
div {
  opacity: 0.9;
}
#logotel {
  width: 3%;
  height: 3%;
}
#logomail {
  width: 3%;
  height: 3%;
}
#logogithub {
  width: 3%;
  height: 3%;
}
#logolinkedIn {
  width:  3%;
  height: 3%;
}
#logotwitter {
  width: 3%;
  height: 3%;
}
#logomobilité {
  width: 3%;
  height: 3%;
}
fieldset{
  text-align: center;
}
